@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif;
margin:0;
}
h1{
    font-weight: bolder;
}

hr{
    margin: 2rem 0rem;
}

:root{
    --primary-color:#1E3A8A;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}

.sm-text{
    font-size: 0.8rem;
}

.container{
    margin: 1rem;
}

.container-centre{
    max-width: 600px;
    margin: auto;
    margin-bottom: 3rem;
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    color: white;
    
}

.primary-link{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.secondary-link{
color: var(--primary-color);
border: 1px solid var(--primary-color);
border-radius: 0.5rem;
}

.unordered-list{
    list-style: none;

}

.inline-list{
    list-style: none;
    display:inline;
    padding: 2rem;
}

.link-active{
    font-weight: bold;
}

.navigation{
    background-color: var(--primary-color);
    padding-bottom: 2rem;
    padding-top: 1rem;
    color: white;
    border-bottom-left-radius: 1rem;
    
}
.navigation .brand{
    font-weight: bold;
    padding-bottom: 1rem;
    font-size: large;

    
}

.navigation .container{
    margin: 0;
    padding-right: 1rem;
    padding-left: 1rem;

}

.navigation .nav-options{
    text-align: right;
    margin-bottom: 0;
}

.navigation .inline-list{
    padding: 0;
}

.hero {
    padding: 1rem;
    text-align: center;
    color: var(--dark-gray);
}    

.hero .hero-img{
    max-width: 400px;
    padding:1rem;
}

.hero .hero-inverted{
    color: var(--primary-color);
}

.section{
    padding:1rem;
}
.section h2{
text-align: center;
}
.secondary-sec h2{
    text-align: center;
}

.secondary-sec{
    padding:1rem;
    background-color: var(--off-white);
}

.footer{
    border-top-right-radius: 1rem;
    background-color: var(--primary-color);
    padding:1.5rem
    
    
}

.footer .footer-header{
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    margin-bottom: 1.5rem;
}

.footer .social-links{
    text-align: center;
    padding:0;
}

.blog-link{
    color: plum;
    font-size: x-large;
    padding: 0;
}